.nav_color {
    background-color: #071e67;
    opacity: 0.97;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar .nav-link {
    color: white !important; /* Default color for nav-links */
}

.navbar .nav-link:hover {
    color: #fbba02 !important; /* Color for hovered links */
}

.navbar .nav-link.active {
    color: #fbba02 !important; /* Color for the active link */
}
header{
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400px;
}
.register{
    color: #ffffff;
    background: #0039a4;
    font-weight: 600;
    border: 1px solid #f1de01d1 !important;
    display: inline !important;
    padding: 6px 10px !important;
    background-image: linear-gradient(#f2b42d, #fd0300);
}
.parent_logo {
    position: relative; /* Establish positioning context for children */
    z-index: -1;
}

.child-logo {
    position: absolute; /* Position the logo relative to the container */
    top: 50%; /* Move it to the vertical center */
    left: 50%; /* Move it to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust positioning to center it exactly */
    z-index: 1; /* Ensure it appears on top */
    max-width: 550px; /* Optional: Restrict the logo size */
    height: auto; /* Maintain aspect ratio */
}

/* .carousel-item img {
    max-width: 900px;
    max-height: 615px;
    margin: 0 auto; 
    object-fit: contain; 
} */

.slider{
    background-color: #050a4c;
    position: relative;
    z-index: 2;
}

.bottomdiv {
    height: 127px;
    background-image: url('../img/snowpark-home-slide-decoration-bottomm.png');
    background-color: #050a4c;
}

/* slickslider  */
.slick-slider, .slick-slider li {
    margin: 0;
    padding: 0;
}

.slick-slider li {
    margin: 0 5px; /* Adds space between the images */
}

.slick-slide img {
    transform: scale(0.98); /* Reduce size of non-centered images */
    max-width: 880px;
    max-height: 602px;
}

.slick-center img {
    transform: scale(1.02); /* Increase size of centered image */
    /* width: 898;
    height: 613; */
}

/* Responsivenesssss */
@media (max-width: 1024px) {
    .slick-slide img {
        max-width: 734px;
        max-height: 495px;
    }

    .slick-center img {
        transform: scale(1.02);
    }
}

/* For mobile screens */
@media (max-width: 768px) {
    .child-logo{
        max-width: 442px;
    }
    .slick-slide img {
        max-width: 442px;
        max-height: 303px;
    }

    .slick-center img {
        transform: scale(1.02);
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .child-logo{
        max-width: 273px;
    }
    .slick-slide img {
        max-width: 273px;
        max-height: 187px;
    }

    .slick-center img {
        transform: scale(1.02);
    }
}