<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sreejith</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% comment %} css  {% endcomment %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css\courses.css" %}">
    <link rel="stylesheet" href="{% static "css/course-details.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
    {% comment %} font  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b87b730e22.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="nav_color">
        <div class="container navmargin">
            <nav class="navbar navbar-expand-lg nav_color ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <!-- Left-aligned section -->
                    <div class="d-flex align-items-center left-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "courses" %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Placement Cell</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Center-aligned section -->
                    <a class="navbar-brand mx-auto" href="{% url "home" %}">
                        <img src="{% static "img\scope-india-logo-bird.png" %}" alt="logo" width="35" height="35">
                    </a>
        
                    <!-- Right-aligned section -->
                    <div class="d-flex align-items-center right-menu">
                        <a class="nav-link" href="{% url "about" %}">Know SCOPE INDIA</a>
                        <a class="nav-link active" href="{% url "contact" %}">Contact us</a>
                        <a class="register" href="{% url 'register' %}">Register Now</a>
                    </div>
                    <div class="hamburgercontainer">
                    <div class="hamburger-menu"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class='container-fluid courses_start'>
        <div class='contact_main_img'>
            <div class='section-wrapper container contact_content'>
                <h1>SCOPE INDIA is open 365 days a year</h1>
                <h2>Let's discuss your career, 24/7 free Consultation</h2>
                <img src="{% static "img\5star.png" %}" alt="5star" class='fivestar d-flex mx-auto'>
                <span class='googleabout'>Google 4.9 * Rated Institute</span>
            </div>
            <div class='container-fluid'>
                <div class='container section-wrapper contact-callback'>
                    <div class='row'>
                        <div class='col'>
                            <div class="container-fluid colleft">
                                <iframe width="480" height="480" src="https://www.youtube.com/embed/0BIaDVnYp2A" title="Free Background Music For Youtube Videos No Copyright Download for Content Creators" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class='col'>
                            <div class="container-fluid">
                                <div class="container-fluid contactlist">
                                    <ul>
                                        <li>
                                            <h3 class='Viga'>GET A FREE CALL BACK</h3>
                                        </li>
                                        <li>
                                            <input type="text" name="" id="" placeholder="Enter your name" class="inputstyle poppins"/>
                                        </li>
                                        <li>
                                            <input type="tel" name="" id="" placeholder="Enter your phone no." class="inputstyle poppins"/>
                                        </li>
                                        <li>
                                            <button type="button" class="inputbtn poppins">Call Me</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class='container-fluid contact-margin'>
                                    <a href="{% url "home" %}" class='detailbtn1'>
                                        <span>Recent Placements</span>
                                    </a>
                                    <a href="{% url "courses" %}" class='detailbtn2'>
                                        <span>Courses</span>
                                    </a>
                                    <a href="{% url "register" %}" class='detailbtn3'>
                                        <span>Register Now!</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid locationsdiv'>
        <div class='section-wrapper container'>
            <h2 class='Viga'>Locations</h2>

            <div class='row'>
                <div class='col'>
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Technopark TVM, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:9745936073">9745936073</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:technopark@scopeindia.org">technopark@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='col'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Thampanoor TVM, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:9745936073">9745936073</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://g.page/r/CXbW6SZGeJPfEAE" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col'>
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Kochi, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:7592939481">7592939481</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:kochi@scopeindia.org">kochi@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://g.page/r/CWv07KhFfP7dEAE" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='col'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Nagercoil, Tamil Nadu</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:8075536185">8075536185</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-6 specialcol'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Nagercoil, Tamil Nadu</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Pharma Street, 5/2 Ward 28, Distillery Road, Putheri Nagercoil (Near WCC Jn)</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:8075536185">8075536185</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://maps.app.goo.gl/Lsd7LzALy15PpWhX7?g_st=iw" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='container-fluid courses-bottom-decoration'></div>
            </div>
        </div>
    </div>

{% comment %} footercontent  {% endcomment %}
    <footer>
        <div class="container footerstart-v2">
            <div class="container-fluid footimg">
                <img src="{% static 'img\snowpark-footer-logo.png'%}" alt="footer_logo" class="d-flex mx-auto footlogo">
                <p class='footdesc'>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</p>
                <img src="{% static 'img\iso_iaflogo.png'%}" alt="iso-logo" class="d-flex mx-auto isologo">
                <p class="footdesc footspacing">An ISO 9001:2015 Certified Company</p>
                <p class="footcopyright footspacing">All Rights Reserved<a href="#"> Suffix E Solutions </a>&copy; 2007-2025</p>
                <div class="container contactcontainer">
                    <div class="row footcontactv2">
                        <a href="tel:9745936073" class='col'>
                            <div class="footcontact">
                                9745936073 (TPK) 
                            </div>
                        </a>
                        <a href="tel:9745936073" class='col'>
                            <div class="footcontact">
                                9745936073 (TVM)  
                            </div>
                        </a>
                        <a href="tel:7592939481" class='col'>
                            <div class="footcontact">
                                7592939481 (EKM) 
                            </div>
                        </a>
                        <a href="tel:8075536185" class='col'>
                            <div class="footcontact">
                                8075536185 (NGL) 
                            </div>
                        </a>
                        <a href="mailto:info@scopeindia.org" class='col'>
                            <div class="footcontact">
                                info@scopeindia.org
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- side-menu -->
    <div class="container-fluid sidemenucontainer">
        <div class="closediv">
            <a href="#" class="closebtn">X</a>
        </div>
        <div class="container-fluid sidelistdiv">
            <nav>
                <ul class="sidelist">
                    <li>
                        <a href="{% url "home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "courses" %}">Courses</a>
                    </li>
                    <li>
                        <a href="#">Placement Cell</a>
                    </li>
                    <li>
                        <a href="{% url "about" %}">Know SCOPE INDIA</a>
                    </li>
                    <li>
                        <a href="{% url "contact" %}" class='active'>Contact us</a>
                    </li>
                    <li>
                        <a href="{% url "register" %}"><button>Register Now</button></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        const hamMenu=document.querySelector('.hamburgercontainer');
        const offScreenMenu=document.querySelector('.sidemenucontainer');
        const closeMenu=document.querySelector('.closebtn');
        hamMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        });
        closeMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        })
    </script>
</body>
</html>