<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sreejith</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% comment %} css  {% endcomment %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css\courses.css" %}">
    {% comment %} font  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">

</head>
<body>
    <header class="nav_color">
        <div class="container navmargin">
            <nav class="navbar navbar-expand-lg nav_color ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <!-- Left-aligned section -->
                    <div class="d-flex align-items-center left-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "courses" %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Placement Cell</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Center-aligned section -->
                    <a class="navbar-brand mx-auto" href="{% url "home" %}">
                        <img src="{% static "img\scope-india-logo-bird.png" %}" alt="logo" width="35" height="35">
                    </a>
        
                    <!-- Right-aligned section -->
                    <div class="d-flex align-items-center right-menu">
                        <a class="nav-link" href="{% url "about" %}">Know SCOPE INDIA</a>
                        <a class="nav-link" href="{% url "contact" %}">Contact us</a>
                        <a class="register" href="{% url "register" %}">Register Now</a>
                    </div>
                    <div class="hamburgercontainer">
                    <div class="hamburger-menu"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% comment %} courses_content {% endcomment %}
    <div class='container-fluid courses_start'>
        <div class='courses_main_img'>
            <div class='section-wrapper container courses-logo'>
                <h1 class='gold-logo'>
                    <em>SCOPE</em> INDIA
                </h1>
                <h2>
                    Center for Software, Networking, & Cloud Education
                </h2>
                <h6>
                    All Trainers at SCOPE INDIA are working professionals, Software Engineers, Networking Engineers, and Software Test Engineers of Suffix E Solutions with 
                    <br><strong>17 years of Industrial experience</strong>
                </h6>
                <img src="{% static "img\5star.png" %}" alt="5star" class='fivestar d-flex mx-auto'>
                <p class="fivestarcourses">Google 4.9 * Rated Institute</p>
            </div>
            <div class='section-wrapper container'>
                <div class='container-fluid courses-cards'>
                    {% comment %} Programming_courses {% endcomment %}
                    <h3>Software Programming Courses</h3>
                    <div class='row'>
                        {% for items in software %}
                        <div class='col course-col col-md-4'>
                            <a href="{% url "detailx" items.parent_id items.id %}">
                            <div class='container-fluid'>
                                    <h6>
                                        {{items.courses_name}}
                                    </h6>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% comment %} Testing_Courses {% endcomment %}
                    <h3>Software Testing Courses</h3>
                    <div class='row'>
                        {% for items in testing %}
                        <div class='col course-col col-md-4'>
                            <a href="{% url "detailx" items.parent_id items.id %}">
                                <div class='container-fluid'>    
                                    <h6>
                                        {{items.courses_name}}
                                    </h6>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% comment %} Networking_Courses {% endcomment %}
                    <h3>Networking, Server, & Cloud</h3>
                    <div class='row'>
                        {% for items in networking %}
                        <div class='col course-col col-md-4'>
                            <a href="{% url "detailx" items.parent_id items.id %}">
                                <div class='container-fluid'>    
                                    <h6>
                                        {{items.courses_name}}
                                    </h6>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% comment %} Other_Courses {% endcomment %}
                    <h3>Other Courses</h3>
                    <div class='row'>
                        {% for items in other %}
                        <div class='col course-col col-md-4'>
                            <a href="{% url "detailx" items.parent_id items.id %}">
                                <div class='container-fluid'>    
                                    <h6>
                                        {{items.courses_name}}
                                    </h6>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Callback_Section {% endcomment %}
        <div class='container-fluid courses-callback'>
            <div class='section-wrapper container'>
                <div class='courses-iframediv container-fluid'>
                    <div class='row'>

                        <div class='col'>
                            <div class="container-fluid colleft">
                                <iframe width="480" height="480" src="https://www.youtube.com/embed/0BIaDVnYp2A" title="Free Background Music For Youtube Videos No Copyright Download for Content Creators" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col colright">
                            <div class="container-fluid callback-v2">
                                <h2>We are open 365 days</h2>
                                <p>
                                    SCOPE INDIA is open 7/24 hrs to talk to you and listen to your queries.
                                </p>
    
                                <div class="container-fluid contactlist">
                                    <ul>
                                        <li>
                                            <h3>GET A FREE CALL BACK</h3>
                                        </li>
                                        <li>
                                            <input type="text" name="" id="" placeholder="Enter your name" class="inputstyle"/>
                                        </li>
                                        <li>
                                            <input type="tel" name="" id="" placeholder="Enter your phone no." class="inputstyle"/>
                                        </li>
                                        <li>
                                            <button type="button" class="inputbtn">Call Me</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} callback_section_end {% endcomment %}
        <div class='container-fluid callback-end-img-div'>
            <div class='section-wrapper container'>
                <div class="row">
                    <div class="col">
                        <h4>1000+</h4>
                        <h5>STUDENTS ARE<br>TRAINED EVERY YEAR</h5>
                    </div>
                    <div class="col floatingcol">
                        <h4>30+</h4>
                        <h5>COMPUTER COURSES</h5>
                    </div>
                    <div class="col">
                        <h4>95%</h4>
                        <h5>STUDENTS ARE GETTING<br>PLACED EVERY YEAR</h5>
                    </div>
                </div>
            </div>
            <div class='container-fluid courses-bottom-decoration'></div>
        </div>
    </div>

    <footer>
        <div class="container footerstart-v2">
            <div class="container-fluid footimg">
                <img src="{% static 'img\snowpark-footer-logo.png'%}" alt="footer_logo" class="d-flex mx-auto footlogo">
                <p class='footdesc'>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</p>
                <img src="{% static 'img\iso_iaflogo.png'%}" alt="iso-logo" class="d-flex mx-auto isologo">
                <p class="footdesc footspacing">An ISO 9001:2015 Certified Company</p>
                <p class="footcopyright footspacing">All Rights Reserved<a href="#"> Suffix E Solutions </a>&copy; 2007-2025</p>
                <div class="container contactcontainer">
                    <div class="row footcontactv2">
                        <a href="tel:9745936073" class='col'>
                            <div class="footcontact">
                                9745936073 (TPK) 
                            </div>
                        </a>
                        <a href="tel:9745936073" class='col'>
                            <div class="footcontact">
                                9745936073 (TVM)  
                            </div>
                        </a>
                        <a href="tel:7592939481" class='col'>
                            <div class="footcontact">
                                7592939481 (EKM) 
                            </div>
                        </a>
                        <a href="tel:8075536185" class='col'>
                            <div class="footcontact">
                                8075536185 (NGL) 
                            </div>
                        </a>
                        <a href="mailto:info@scopeindia.org" class='col'>
                            <div class="footcontact">
                                info@scopeindia.org
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- side-menu -->
    <div class="container-fluid sidemenucontainer">
        <div class="closediv">
            <a href="#" class="closebtn">X</a>
        </div>
        <div class="container-fluid sidelistdiv">
            <nav>
                <ul class="sidelist">
                    <li>
                        <a href="{% url "home" %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url "courses" %}" class='active'>Courses</a>
                    </li>
                    <li>
                        <a href="#">Placement Cell</a>
                    </li>
                    <li>
                        <a href="{% url "about" %}">Know SCOPE INDIA</a>
                    </li>
                    <li>
                        <a href="{% url "contact" %}">Contact us</a>
                    </li>
                    <li>
                        <a href="{% url "register" %}"><button>Register Now</button></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        const hamMenu=document.querySelector('.hamburgercontainer');
        const offScreenMenu=document.querySelector('.sidemenucontainer');
        const closeMenu=document.querySelector('.closebtn');
        hamMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        });
        closeMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        })
    </script>
</body>
</html>