<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/index.css" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="nav_color">

        <div class="container">
            <nav class="navbar navbar-expand-lg nav_color ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <!-- Left-aligned section -->
                    <div class="d-flex align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Placement Cell</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Center-aligned section -->
                    <a class="navbar-brand mx-auto text-center " href="#">
                        <img src="{% static "img\scope-india-logo-bird.png" %}" alt="logo" width="35" height="35">
                    </a>
        
                    <!-- Right-aligned section -->
                    <div class="d-flex align-items-center">
                        <a class="nav-link" href="#">Know SCOPE INDIA</a>
                        <a class="nav-link" href="#">Contact us</a>
                        <button class="register" type="submit">Register Now</button>
                    </div>

                </div>
            </nav>
        </div>

    </header>

    <div class="container-fluid position-relative">
        <!-- First image as the background -->
        <img src="{% static 'img/slider_bg.jpg' %}" alt="slider_bg" class="img-fluid w-100 parent_logo">
    
        <!-- Second image centered on top of the first one -->
        <img src="{% static 'img/scope-india-logo-home-page.png' %}" alt="SI_logo_home" class="child-logo">
    </div>

    <div class="container-fluid slider">
        <ul class="slick-slider">
            <li>
                <img src="{% static 'img/slider/Devops-training-scopeindia.jpg' %}" class="d-block mx-auto" alt="1">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-aws-certification-course-(1).jpg' %}" class="d-block mx-auto" alt="2">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-azure-certification-course.jpg' %}" class="d-block mx-auto" alt="3">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-digital-marketing-course.jpg' %}" class="d-block mx-auto" alt="4">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-dotnet-core-full-stack-course.jpg' %}" class="d-block mx-auto" alt="5">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-flutter-fullstack-course.jpg' %}" class="d-block mx-auto" alt="6">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-java-full-stack-course (1).jpg' %}" class="d-block mx-auto" alt="7">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-mean-mern-stack-course.jpg' %}" class="d-block mx-auto" alt="8">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-network-server-administration-course (1).jpg' %}" class="d-block mx-auto" alt="9">\
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-php-full-stack-course (1).jpg' %}" class="d-block mx-auto" alt="10">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-python-full-stack-course (1).jpg' %}" class="d-block mx-auto" alt="11">
            </li>
            <li>
                <img src="{% static 'img/slider/scope-india-software-testing-manual-automation-course.jpg' %}" class="d-block mx-auto" alt="12">
            </li>
        </ul>
        <!-- image with snow pattern -->
        <div class="container-fluid bottomdiv"></div>
    </div>

    <div class="container-fluid iframedivouter">
        <!-- iframe -->
    <div class="container iframedivinner">
            <div class="container iframediv">
                <div class="row">

                    <div class="col">
                        <div class="container-fluid colleft">
                            <iframe width="480" height="480" src="https://www.youtube.com/embed/0BIaDVnYp2A" title="Free Background Music For Youtube Videos No Copyright Download for Content Creators" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col colright">
                        <div class="container-fluid">
                            <h2>SCOPE INDIA <br/>
                                is open 365 days a year
                            </h2>
                            <p>
                                We are open 7 days 24 hrs to talk to you and listen to your queries.
                            </p>

                            <div class="container-fluid contactlist">
                                <ul>
                                    <li>
                                        <h3>GET A FREE CALL BACK</h3>
                                    </li>
                                    <li>
                                        <input type="text" name="" id="" placeholder="Enter your name" class="inputstyle"/>
                                    </li>
                                    <li>
                                        <input type="tel" name="" id="" placeholder="Enter your phone no." class="inputstyle"/>
                                    </li>
                                    <li>
                                        <button type="button" class="inputbtn">Call Me</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container fivestardiv">
            <img src="{% static 'img\5star.png' %}" class="fivestar d-flex mx-auto"/>
            <p class="fivestarcontent fivestarrating">Google 4.9 * Rated Institute</p>
            <p class="fivestarcontent fivestarcareer">SCOPE INDIA, your career partner!</p>
            <p class="fivestarcontent fivestarpara1">One of India's best Training destinations for Software, Networking, and Cloud Computing courses with 17 years of Industrial experience.</p>
            <p class="fivestarpara2">Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from <strong>Suffix E Solutions</strong> with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for<strong> Software Programming</strong> in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN,<strong>Software Testing</strong> Manual and Automation,<strong> Cloud Computing</strong> (AWS | Azure),<strong> Server Administration </strong>(MicroSoft MCSE | Linux RHCE), Networking (CCNA),<strong> DevOps, Mobile App Development </strong>in Flutter, and<strong> Digital Marketing</strong>. A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!</p>
            <p class="fivestarpara2">This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>
            <button class="w-100 buttonmargin btn_1">Recent Placements</button> 
            <button class="w-100 buttonmargin btn_2">Courses</button>
            <button class="w-100 buttonmargin btn_3">Register Now!</button>
            <button class="w-100 buttonmargin btn_4">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                Chat on WhatsApp</button>
            <div class="container-fluid tigpgrid">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'img\grid\snowpark-home-icon1.png' %}" alt="ico1" class="d-flex mx-auto">
                        <h2>Training</h2>
                        <p>
                            You are trained under Suffix E Solutions working professionals, on-the-job training model.
                        </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img\grid\snowpark-home-icon2.png' %}" alt="ico2" class="d-flex mx-auto">
                        <h2>Internship</h2>
                        <p>
                            After course completion, you will be proceeded to live projects with a 6 months experience certificate.
                        </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img\grid\snowpark-home-icon3.png' %}" alt="ico3" class="d-flex mx-auto">
                        <h2>Grooming</h2>
                        <p>
                            CV Preparation, Interview Preparation, and Personality Development.
                        </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img\grid\snowpark-home-icon4.png' %}" alt="ico4" class="d-flex mx-auto">
                        <h2>Placement</h2>
                        <p>
                            Gives 100% FREE placement support to all our fellow techies through SCOPE INDIA's Placement Cell.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container footerstart">
            <div class="row">
                <div class="col">
                    <h4>1000+</h4>
                    <h5>STUDENTS ARE<br>TRAINED EVERY YEAR</h5>
                </div>
                <div class="col floatingcol">
                    <h4>30+</h4>
                    <h5>COMPUTER COURSES</h5>
                </div>
                <div class="col">
                    <h4>95%</h4>
                    <h5>STUDENTS ARE GETTING<br>PLACED EVERY YEAR</h5>
                </div>
            </div>
            <div class="container-fluid footimg">
                <img src="{% static 'img\snowpark-footer-logo.png'%}" alt="footer_logo" class="d-flex mx-auto">
            </div>
        </div>
    </footer>


    <!-- <p>
        {% lorem 10000 w random %}
    </p> -->



<!-- jquerystuff -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slick-slider').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                slidesToScroll: 1,  // Scroll 1 slide at a time
                autoplay: true,  // Enable autoplay
                autoplaySpeed: 3000,  // 3 seconds per slide
                focusOnSelect: true,  // Allow selecting images
                responsive: [
                    {
                        breakpoint: 1024,  // Tablet size
                        settings: {
                            slidesToShow: 2,  // Show 2 images at once on tablet
                            centerPadding: '15%',  // Adjust padding for tablet
                        }
                    },
                    {
                        breakpoint: 768,  // Mobile size
                        settings: {
                            slidesToShow: 1,  // Show 1 image at once on mobile
                            centerPadding: '10%',  // Adjust padding for mobile
                        }
                    },
                    {
                        breakpoint: 480,  // Very small screens (extra mobile)
                        settings: {
                            slidesToShow: 1,  // Show 1 image at once
                            centerPadding: '0%',  // Remove center padding for small screens
                        }
                    }
                ]
                });
            });

    </script>

</body>
</html>