<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sreejith</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% comment %} css  {% endcomment %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css\courses.css" %}">
    <link rel="stylesheet" href="{% static "css/course-details.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <link rel="stylesheet" href="{% static "css/contact.css" %}">
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    {% comment %} font  {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b87b730e22.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="nav_color">
        <div class="container navmargin">
            <nav class="navbar navbar-expand-lg nav_color ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <!-- Left-aligned section -->
                    <div class="d-flex align-items-center left-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "courses" %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Placement Cell</a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Center-aligned section -->
                    <a class="navbar-brand mx-auto" href="{% url "home" %}">
                        <img src="{% static "img\scope-india-logo-bird.png" %}" alt="logo" width="35" height="35">
                    </a>
        
                    <!-- Right-aligned section -->
                    <div class="d-flex align-items-center right-menu">
                        <a class="nav-link" href="{% url "about" %}">Know SCOPE INDIA</a>
                        <a class="nav-link" href="{% url "contact" %}">Contact us</a>
                        <a class="register" href="{% url "register" %}">Register Now</a>
                    </div>
                    <div class="hamburgercontainer">
                    <div class="hamburger-menu"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class='container-fluid courses_start'>
        <div class='register_main_img'>
            <div class='section-wrapper container register_content'>
                <h1>Registration</h1>
                <h2>It's just a matter of 80 days to an IT job!</h2>
            </div>
            <div class='container-fluid'>
                <div class='container section-wrapper register-callback'>
                    <div class='row'>
                        <div class='col reg-colleft'>
                            <ul>
                                <li>
                                    <label for="" class='col-block'>Full Name (required)</label>
                                    <input type="text" name="" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Date of Birth (required)</label>
                                    <input type="date" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Gender (required)</label>
                                    <label for=""><input type="radio" name="" id=""> Male</label>
                                    <label for=""><input type="radio" name="" id=""> Female</label>
                                    <label for=""><input type="radio" name="" id=""> Others</label>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Educational Qualification</label>
                                    <input type="text" name="" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Choose your course (required)</label>
                                    <select name="" class='w-100 regi-multichoice'>
                                        <option value="">Hi</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Mobile Number (required)</label>
                                    <input type="tel" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Email (required)</label>
                                    <input type="email" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Guardian's Mobile</label>
                                    <input type="tel" name="" class='w-100'>
                                </li>
                                <li>
                                    <label for="" class='col-block'>Training Mode (required)</label>
                                    <label for=""><input type="radio" name="" id="">Live online</label>
                                    <label for=""><input type="radio" name="" id=""> Classroom</label>
                                </li>
                                <li>
                                    <label for="" class='col-block'>SCOPE INDIA Location (required)</label>
                                    <label for=""><input type="radio" name="" class='marginbtm5px'> Technopark TVM</label>
                                    <label for=""><input type="radio" name="" class='marginbtm5px'> Thampanoor TVM</label>
                                    <label for=""><input type="radio" name="" class='marginbtm5px'> Kochi</label>
                                    <label for=""><input type="radio" name="" class='marginbtm5px'> Nagercoil</label>
                                    <label for=""><input type="radio" name="" id=""> Online</label>
                                </li>
                            </ul>
                        </div>
                        <div class='col'>
                            <div class="container-fluid">
                                <div class="container-fluid reg-colright">
                                    <ul>
                                        <li>
                                            <label for="" class='col-block'>Guardian's Name</label>
                                            <input type="text" name="" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>Guardian's Occupation</label>
                                            <input type="text" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>Preferred Training Timings (required)</label>
                                            <label for="" class='col-block'><input type="checkbox" name="" class='marginbtm5px'> Between 8am - 10am</label>
                                            <label for="" class='col-block'><input type="checkbox" name="" class='marginbtm5px'> Between 9am - 1pm</label>
                                            <label for="" class='col-block'><input type="checkbox" name="" class='marginbtm5px'> Between 1pm - 6pm</label>
                                            <label for="" class='col-block'><input type="checkbox" name="" > Between 6pm - 10pm</label>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>Address</label>
                                            <input type="text" name="" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>Country</label>
                                            <input type="text" name="" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>State</label>
                                            <input type="text" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>City</label>
                                            <input type="text" class='w-100'>
                                        </li>
                                        <li>
                                            <label for="" class='col-block'>PIN/Zip Code</label>
                                            <input type="text" name="" class='w-100'>
                                        </li>
                                        <li>
                                            <button class="regi-registerbtn">Complete Registration &gt;&gt; </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid locationsdiv'>
        <div class='section-wrapper container'>
            <h2 class='Viga'>Locations</h2>

            <div class='row'>
                <div class='col'>
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Technopark TVM, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:9745936073">9745936073</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:technopark@scopeindia.org">technopark@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='col'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Thampanoor TVM, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:9745936073">9745936073</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://g.page/r/CXbW6SZGeJPfEAE" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col'>
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Kochi, Kerala</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:7592939481">7592939481</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:kochi@scopeindia.org">kochi@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://g.page/r/CWv07KhFfP7dEAE" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class='col'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Nagercoil, Tamil Nadu</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:8075536185">8075536185</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-6 specialcol'> 
                    <div class='container-fluid locationpadding'>
                        <ul class='contact-ul-style'>
                            <li><h3 class='Viga'>Nagercoil, Tamil Nadu</h3></li>
                            <li>
                                <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                                <span>SCOPE INDIA, Pharma Street, 5/2 Ward 28, Distillery Road, Putheri Nagercoil (Near WCC Jn)</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-phone-flip fa-xs"></i>
                                <a href="tel:8075536185">8075536185</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope fa-xs"></i>
                                <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-link fa-xs"></i>
                                <a href="{% url "home" %}">www.scopeindia.org </a>
                            </li>
                            <li>
                                <i class="fa-solid fa-map fa-xs"></i>
                                <a href="https://maps.app.goo.gl/Lsd7LzALy15PpWhX7?g_st=iw" target="_blank">Location Route Map </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='container-fluid courses-bottom-decoration'></div>
            </div>
        </div>
    </div>

{% comment %} footercontent  {% endcomment %}
    <footer>
        <div class="container footerstart-v2">
            <div class="container-fluid footimg">
                <img src="{% static 'img\snowpark-footer-logo.png'%}" alt="footer_logo" class="d-flex mx-auto footlogo">
                <p class='footdesc'>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</p>
                <img src="{% static 'img\iso_iaflogo.png'%}" alt="iso-logo" class="d-flex mx-auto isologo">
                <p class="footdesc footspacing">An ISO 9001:2015 Certified Company</p>
                <p class="footcopyright footspacing">All Rights Reserved<a href="#"> Suffix E Solutions </a>&copy; 2007-2025</p>
                <div class="container contactcontainer">
                    <div class="row">
                        <div class="col footcontact">
                            9745936073 (TPK) 
                        </div>
                        <div class="col footcontact">
                            9745936073 (TVM)  
                        </div>
                        <div class="col footcontact">
                            7592939481 (EKM) 
                        </div>
                        <div class="col footcontact">
                            8075536185 (NGL) 
                        </div>
                        <div class="col footcontact">
                            info@scopeindia.org
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- side-menu -->
    <div class="container-fluid sidemenucontainer">
        <div class="closediv">
            <a href="#" class="closebtn">X</a>
        </div>
        <div class="container-fluid sidelistdiv">
            <nav>
                <ul class="sidelist">
                    <li>
                        <a href="{% url "home" %}">Home</a>
                    </li>
                    <li>
                        <a href="#" class='active'>Courses</a>
                    </li>
                    <li>
                        <a href="#">Placement Cell</a>
                    </li>
                    <li>
                        <a href="#">Know SCOPE INDIA</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <button>Register Now</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        const hamMenu=document.querySelector('.hamburgercontainer');
        const offScreenMenu=document.querySelector('.sidemenucontainer');
        const closeMenu=document.querySelector('.closebtn');
        hamMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        });
        closeMenu.addEventListener('click',()=>{
            offScreenMenu.classList.toggle('active');
        })
    </script>
</body>
</html>